---
import Layout from '@/layouts/Layout.astro';
import { PackingList } from '@/components/packing-list/PackingList';

const { listId } = Astro.params;
if (!listId) {
  return Astro.redirect('/404');
}
---

<Layout title="Packing List">
  <main class="container mx-auto px-4 py-8">
    <PackingList client:load listId={listId} />
  </main>
</Layout> 