---
import GuestLayout from '@/layouts/GuestLayout.astro';
import { LoginForm } from '@/components/auth/LoginForm';
---

<GuestLayout title="Logowanie">
  <div class="max-w-md mx-auto">
    <LoginForm client:load />
  </div>
</GuestLayout> 